<div class="container">
  <div class="sig content">
    <h2>I pledge:</h2>

    {% assign comments = site.data.comments.test-slug | sort %}
    {% for comment in comments %}
      {% assign commentData = comment[1] %}
      {% assign mod3 = forloop.index | modulo: 4 %}
      <article class="sig-item">
        {% if commentData.link %}
        <a href="{{ commentData.link }}" target="_blank">
        {% endif %}
          {% if mod3 == 0 %}<h1 class="comment-name sig-print">{{ commentData.name }}</h1>{% endif %}
          {% if mod3 == 1 %}<h1 class="comment-name sig-script">{{ commentData.name }}</h1>{% endif %}
          {% if mod3 == 2 %}<h1 class="comment-name sig-child">{{ commentData.name }}</h1>{% endif %}
          {% if mod3 == 3 %}<h1 class="comment-name sig-classic">{{ commentData.name }}</h1>{% endif %}
        {% if commentData.link %}
        </a>
        {% endif %}
      </article>
    {% endfor %}
  </div>
</div>
