<div class="container">
  <div id="openSignBottom" class="sig content">
    <h2>Sign The Pledge</h2>
    <!-- <div class="sig-list">
      {% assign comments = site.data.comments.test-slug | sort %}
      {% assign i = 0 %}
      {% for comment in comments %}
        {% assign commentData = comment[1] %}
        {% assign mod3 = forloop.index | modulo: 4 %}
        <article class="sig-list-item">
          {% if commentData.link %}
          {% endif %}
            {% if mod3 == 0 %}<h3 class="comment-name sig-print">{{ commentData.name }}</h3>{% endif %}
            {% if mod3 == 1 %}<h3 class="comment-name sig-script">{{ commentData.name }}</h3>{% endif %}
            {% if mod3 == 2 %}<h3 class="comment-name sig-child">{{ commentData.name }}</h3>{% endif %}
            {% if mod3 == 3 %}<h3 class="comment-name sig-classic">{{ commentData.name }}</h3>{% endif %}
          {% if commentData.link %}
          {% endif %}
        </article>
        {% assign i = i | plus:1 %}
      {% endfor %}
    </div> -->
    <div class="sig-count">
      <h2><!--{{i}}-->310 Signatures</h2>
    </div>
  </div>
</div>
