<div class="manifesto">
    
    <div class="manifesto-body">

        <p><span>We, the undersigned</span>, are designers, architects, builders, artists, visual communicators, and students working in a world in which the apparatus of design have been presented to us as the most effective and desirable means of using our talents. Encouraged in this direction, we pledge our skills toward design that brings lasting benefits to society.</p>
        <p>Things such as:</p>

        <p>Projects that push consciousness along with profit, design that innovates rather than regurgitates, and buildings that improve or reinvent the space they occupy. By far the most impactful design should be used to improve the well being of our communities.</span></p>
        <p>We think that there are other worthwhile concepts to spend our valuable skill and time on. Unprecedented environmental, social, and cultural crises demand our attention now. <span class="long">Projects that protect the environment, improve health and wellness, reform education, and empower communities.</span></p>
        <p>We do not advocate the abolition of consumer design: this is not feasible. Nor do we want to take any of the fun out of life. But we are proposing a reversal of priorities in favor of the more useful and more lasting forms of communication. We hope that our society will tire of inaccessible design trends and that the prior call on our skills will be for worthwhile purposes. With this in mind, we propose to share our experience and opinions and to make them available to colleagues, students and others who may be interested.</p>
        <p>We hope that our society will tire of vapid, inaccessible design trends; working for corporations that damage the environment and human beings, and that the prior call on our skills will be for <span>worthwhile</span> purposes.</p>
        <p>In 1964, a designer named Ken Garland published what we consider to be one of the most impactful documents to influence design: the First Things First manifesto. 22 visual communicators signed the original call for our skills to be put to worthwhile use and in 2014, 33+ re-signed their message. Today, we think that the call has become more urgent and have renewed their manifesto in expectation that design will be used as a tool to empower <span>social change, for the good of all people.</span></p>

    </div>

    <div class="manifesto-quote">
        <p>We ask you to join us in breaking the record of signatures and reaffirm the importance of <span>design with purpose</span>.</p>
    </div>

    <div class="manifesto-meta">
        <p>Published by Ken Garland, 1964</p>
        <p>Re-envisioned by Cohere, 2018</p>
        <br>
        <p>Cohere's mission is to help cities reach their full potential by branding projects that were <span>formerly underutilized spaces</span> or stories.</p>
        <p>We hope to inspire you to join our vision and help design the world we want to live in.</p>
    </div>

</div>