<div class="manifesto">
    
    <div class="manifesto-body">

        <p>We, the undersigned, are architects, engineers, builders, artists, graphic designers, visual communicators, and students working in a world in which the techniques and apparatus of design have persistently been presented to us as the most lucrative, effective and desirable means of using our talents. We have been bombarded with publications devoted to this belief, applauding the work of those who have flogged their skill and imagination to push design that brings no lasting benefit to society.</p>
        <p>Things such as</p>

        <p>Design that regurgitates and doesn't innovate, projects that push profits and not creativity, and buildings that occupy space without improving or reinventing it. By far the most impactful design should be used to improve the well-being of our communities.</p>
        <p>We think that there are more worthwhile concepts to spend our valuable skill and time on. Unprecedented environmental, social, and cultural crises demand our attention now. Projects that protect the environment, improve health and wellness, reform education, and empower communities.</p>
        <p>We do not advocate the abolition of high-pressure consumer design: this is not feasible. Nor do we want to take any of the fun out of life. But we are proposing a reversal of priorities in favor of the more useful and more lasting forms of communication.</p>
        <p>We hope that our society will tire of vapid, inaccessible design trends; working for corporations that damage the environment and human beings, and that the prior call on our skills will be for worthwhile purposes.</p>
        <p>With this in mind, we propose to share our experience and opinions and to make them available to colleagues, students and others who may be interested.</p>
        <p>In 1964, a designer named Ken Garland published what we consider to be one of the most impactful documents to influence design: the First Things First manifesto. 22 visual communicators signed the original call for our skills to be put to worthwhile use and in 2014, 33+ re-signed their message. Today, we think that the call has become more urgent and have renewed their manifesto in expectation that design will be used as a tool to empower social change, for the good of all people.</p>

    </div>

    <div class="manifesto-quote">
        <p>We ask you to join us in breaking the record number of signatures and helping make Philadelphia the epicenter for design with purpose.</p>
    </div>

    <div class="manifesto-meta">
        <p>Published by Ken Garland, 1964</p>
        <p>Re-envisioned by Cohere, 2018</p>
        <br>
        <p>Cohere's mission is to help cities reach their full potential by branding projects that were formerly underutilized spaces or stories. We hope to inspire you to join our vision for Philadelphia and help design the world we want to live in.</p>
    </div>

</div>