<form id="mce-email" action="https://atmediadesign.us2.list-manage.com/subscribe/post?u=dfb1607e201e53bb0176759fb&amp;id=2cc93f5310" method="post">
    <label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" required>
        <span>Email*</span>
    </label>
</form>

<form id="sign" method="POST" action="{{ site.staticman.api }}" class="js-form form">
    <input name="options[redirect]" type="hidden" value="{{ site.url }}">
    <input name="options[slug]" type="hidden" value="test-slug">
    
    <label>
        <input name="fields[name]" type="text" required>
        <span>Sign Here</span>
    </label>

    <button class="form-submit">
        Submit
    </button>
</form>

<small>New signatures will be updated periodically to avoid spam. After signing, please check back later to see your signature.</small>
<br/><small>* by signing this manifesto, you agree to receive relevant design-related communication from Cohere. We will not spam or sell your email address.</small>