<form method="POST" action="{{ site.staticman.api }}">
        <input name="options[redirect]" type="hidden" value="{{ site.url }}">
        <input name="options[slug]" type="hidden" value="test-slug">
        
        <label>
            <input name="fields[name]" type="text" required>
            <span>Sign Here</span>
        </label>

        <label>
            <input name="fields[link]" type="url" required>
            <span>Webpage</span>
        </label>

        <br/>
        <small>New signatures will be updated periodically to avoid spam. After signing, please check back later to see your signature.</small>

        <input type="submit" value="Submit">
    </form>