<div class="sign closed" id="overlay">
    <div class="sign-web">
        <h2>Sign Online</h2>
    
        {% include sign-form.html %}

    </div>
    <div class="sign-print">
        <h2>Schedule</h2>
        <h4 class="sign-print-past"><a href="" target="_blank">
            Philadelphia
            <span>
                10/9
            </span>
        </a></h4>
        <br/>
        <h4><a href="" target="_blank">
            New York
            <span>
                10/24
            </span>
        </a></h4>
        <br/>
        <h4><a href="" target="_blank">
            Washington DC
            <span>
                11/6
            </span>
        </a></h4>
    </div>
    <nav id="closeSign">Close</nav>
</div>