.container {
    .content {
        margin: $spacing*2 auto;
        padding: 0 30px;

        &.sm-width {
            max-width: $sm-width;
        }
        &.md-width {
            max-width: $md-width;
        }
        &.lg-width {
            max-width: $lg-width;
        }
    }
}

// HEADER
.header {
    display: flex;
    justify-content: space-between;
    margin: $spacing*2 0 0 0;
    
    &-link {
        color: $black;
        text-decoration: none;

        a {
            color: $black;
            text-decoration: none;
        }
        .logo {
            width: 100px;
        }
    }
}

#closeSign {
    color: $white;

    @include query($md-width) {
        color: $black;
    }
}

#closeSign {
    position: absolute;
    top: $spacing*2;
    right: $spacing;
    padding: 0 0 8px 0;
    border-bottom: 3px solid $black;
}