.sig {
    position: relative;
    top: 700px;

    @include query($md-width) {
        top: 600px;
    }
    
    @include query($lg-width) {
        position: absolute;
        top: 100vh;
    }

    h2 {
        display: inline-block;
        margin-bottom: $spacing*2;
        font-weight: 700;
        border-bottom: 3px solid $black;
        line-height: 2em;
    }
    &-item {

        &:hover {
            opacity: 1;
        }

        a {
            text-decoration: none;
            color: $grey;
            transition: all 150ms ease-out;

            &:hover {
                color: $black;
            }

            h3 {
                position: relative;
                display: inline-block;
                margin-bottom: $spacing*2;
                font-size: 2.25em;
                z-index: 0;

                &:hover {
                    z-index: 100;

                    &:before {
                        width: 100%;
                    }
                }

                &:before {
                    content: '';
                    position: absolute;
                    width: 0%; height: 50%;
                    bottom: 0; left: 0;
                    background-color: $grey;
                    opacity: 0.5;
                    transition: all 400ms 150ms $ease;
                    z-index: -1;
                }
            }
        }
    }
}