// Transition
.sign {
    &-web {
        transition: all 600ms $ease;
    }
    &-print {
        transition: all 600ms $ease;
    }
    nav {
        transition: all 100ms 500ms $ease;
    }
}

.sign {
    transition: background-color 600ms $ease;
}

.sign__wrap.closed {
    visibility: hidden;

    .sign {
        background-color: rgba(255, 255, 255, 0);
    }
    .sign-web {
        visibility: hidden;
        opacity: 0.75;
        transform: translateY(100%) scale(1, 0.8);
    }
    .sign-print {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-$spacing/2);
    }
    nav {
        opacity: 0;
        transition: all 100ms $ease;
    }
}

.sign__wrap {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: scroll;
    z-index: 1000;
}

.sign {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    min-height: 100vh;
    background-color: $black;

    > div {
        padding: $spacing;
        box-sizing: border-box;

        h2 {
            margin-bottom: 2.5rem;
        }
    }

    &-web {
        background-color: $black;
        color: $white;
    }

    &-print {
        background-color: $white;

        &-past {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                width: 100%; height: 2px;
                top: calc(50% - 1px); left: 0;
                background-color: $red;

                @include query($md-width) {
                    height: 6px;
                    top: calc(50% - 3px);
                }
            }
        }
        h4 {
            display: inline-block;
            margin: $spacing 0;
            font-size: 5vw;
            a {
                color: $black;
                text-decoration: none;

                span {
                    color: $grey;
                    font-size: 0.675em;
                }
            }
        }
    }
}


// FORM
form {
    padding-bottom: $spacing;

    input {
        display: block;
        width: 100%;
        margin: $spacing 0 0 0;
        padding: $spacing / 2;
        background-color: lighten($black, 10%);
        border: none;
        box-sizing: border-box;
        font-family: $site-font;
        color: $white;
    }
    input[type=text] {
        font-size: 1em;
        border-bottom: 2px solid $grey;

        @include query($lg-width) {
            padding: $spacing $spacing/2 $spacing/2 $spacing/2;
            font-size: 6rem;
        }
    }
    input[type=email] {
        margin: $spacing 0 0 0;

        @include query($md-width) {
            margin: $spacing 0 0 0;
        }
    }
    .form-submit {
        width: auto;
        margin-top: $spacing;
        padding: $spacing/2 $spacing;
        background-color: $grey;
        color: $black;
        font-size: 1.25em;
        transition: all 300ms $ease;

        @include query($md-width) {
            margin: $spacing 0;
        }

        &:hover {
            background-color: lighten($grey, 15%);
        }
    }
}

label{
    display:block;
    overflow:auto;
    position:relative;
  }
input ~ span{
    transition:
        top 600ms $ease,
        font-size 600ms $ease;
   position:absolute;
   top:2.125em;
   padding: 0 $spacing/2;

    @include query($sm-width) {
        top:1.875em;
    }
    @include query($md-width) {
        top:2.125em;
    }
}
input[type=text] ~ span{
    top: 2.5em;
    font-size: 1em;

    @include query($md-width) {
        top: 1.5em;
        font-size: 2rem;
    }
    @include query($lg-width) {
        top: 1.625em;
        font-size: 4rem;
    }
}
input[type=email] ~ span{
    @include query($md-width) {
        top: 3.875em;
        font-size: 1rem;
    }
    @include query($lg-width) {
        top: 2.875em;
    }
}

input:focus ~ span, input:valid ~ span{
    top:0em;
    font-size: 16px;
}
input[type=email]:focus ~ span, input[type=email]:valid ~ span{
    top:0em;
    @include query($md-width) {
        top:0em;
    }
}

input[type=email]:invalid ~ span {
    color: orange;
}
input[type=email]:valid ~ span {
    color: white;
}