// Transition
.sign {
    &-web {
        transition: all 600ms $ease;
    }
    &-print {
        transition: all 600ms $ease;
    }
    nav {
        transition: all 100ms 500ms $ease;
    }
}

.sign.closed {
    visibility: hidden;

    .sign-web {
        visibility: hidden;
        opacity: 0.75;
        transform: translateY(100%) scale(1, 0.8);
    }
    .sign-print {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-$spacing/2);
    }
    nav {
        opacity: 0;
        transition: all 100ms $ease;
    }
}

.sign {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: scroll;
    z-index: 1000;

    @include query ($md-width) {
        flex-direction: row;
    }

    > div {
        padding: $spacing*2 $spacing;

        @include query ($md-width) {
            width: 50%;
            height: 100vh;
            overflow: scroll;
        }

        h2 {
            margin-bottom: 6rem;
        }
    }

    &-web {
        background-color: $black;
        color: $white;
    }

    &-print {
        background-color: $white;

        h4 {
            margin: $spacing*2 0;
            a {
                color: $black;
                text-decoration: none;

                span {
                    color: $grey;
                    font-size: 0.675em;
                }
            }
        }
    }
}


// FORM
form {

    input {
        display: block;
        width: 100%;
        margin: $spacing 0 0 0;
        padding: $spacing / 2;
        background-color: lighten($black, 10%);
        border: none;
        box-sizing: border-box;
        font-family: $site-font;
        color: $white;
    }
    input[type=text] {
        font-size: 1em;
        border-bottom: 2px solid $grey;

        @include query($md-width) {
            padding: $spacing $spacing/2 $spacing/2 $spacing/2;
            font-size: 6rem;
        }
    }
    input[type=url] {
        margin: $spacing 0;

        @include query($md-width) {
            margin: $spacing * 1.5 0 0 0;
        }
    }
    input[type=submit] {
        width: auto;
        padding: $spacing/2 $spacing;
        background-color: $grey;
        color: $black;
        font-size: 1.25em;

        @include query($md-width) {
            margin: $spacing 0;
        }
    }
}

label{
    display:block;
    overflow:auto;
    position:relative;
  }
input ~ span{
    transition:
        top 600ms $ease,
        font-size 600ms $ease;
   position:absolute;
   top:1.875em;
   padding: 0 $spacing/2;
}
input[type=text] ~ span{
    top: 2.125em;
    font-size: 1em;

    @include query($md-width) {
        top: 0.8em;
        font-size: 6rem;
    }
}
input[type=url] ~ span{
    @include query($md-width) {
        top: 2.75em;
    }
}

input:focus ~ span, input:valid ~ span{
    top:0em;
    font-size: 16px;
}
input[type=url]:focus ~ span, input[type=url]:valid ~ span{
    top:1em;
}

input[type=url]:invalid ~ span {
    color: orange;
}

input[type=url]:valid ~ span {
    top: 0em;
    color: white;
}