@font-face {
    font-family: 'hk-grotesk';
    src: 
        url('hkgrotesk-bold-webfont.woff'),
        url('hkgrotesk-bold-webfont.woff2'),
        url('hkgrotesk-bold-webfont.ttf');
}

@font-face {
    font-family: 'Maison Neue';
    src: url("MaisonNeueWEB-Bold.woff2") format("woff2"),
         url("MaisonNeueWEB-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

$site-font: 'Maison Neue', sans-serif;

body {
    font-family: $site-font;
    font-size: 21px;
    font-variant-ligatures: no-common-ligatures;
}

h1 {
    margin: 0 0 $spacing 0;
    font-size: 4em;
    line-height: 1.25em;
    @include query ($sm-width) {
        font-size: 6em;
        line-height: 1.125em;
    }
    @include query ($md-width) {
        font-size: 8em;
    }
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: 1.625em;
    margin: 0 0 $spacing/2 0;

    @include query ($md-width) {
        margin: 0 0 $spacing 0;
        font-size: 4em;
    }
}

h4 {
    font-size: 2.125em;
}

p {
    margin: 1.25em 0;
    line-height: 1.875em;

    @include query ($md-width) {
        line-height: 2.125em;
    }
}

small {
    font-size: 0.625em;
}

// Signatures
.sig-child {
    font-family: 'ff-providence-sans-web-pro', sans-serif;
}

.sig-print {
    font-family: 'reenie-beanie', sans-serif;
}

.sig-classic {
    font-family: 'p22-cezanne-pro', sans-serif;
}

.sig-script {
    font-family: 'rollerscript-rough', sans-serif;
}